name: Build Geode Mod
on: [push, workflow_dispatch]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: Android
            os: ubuntu-latest
            target: Android64
          - name: Windows
            os: windows-latest

    runs-on: ${{ matrix.config.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Build the mod
        uses: geode-sdk/build-geode-mod@main
        with:
          target: ${{ matrix.config.target }}
          combine: true

  package:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: geode-sdk/build-geode-mod/combine@main
        id: build
      
      - uses: actions/upload-artifact@v4
        with:
          name: FrameVisual-Mod
          path: ${{ steps.build.outputs.build-output }}
